<%# Copyright (c) 2010 Allard Consulting. All Rights Reserved. %>
<!--<h2>Legend</h2>-->

<!--<p>The product_name appliance has a few functions that may not be apparent at first glance.</p>-->

<!--<ul>-->
  <!--<li>-->
    <!--<strong>Local Domains</strong> are used for two things. When a user registers on the home page (when enabled),-->
    <!--the domain of the user is matched against the local domains. If it matches the user will be created as a local user.-->
    <!--Also, when a Remote User is logged in, they can send files to local users of the system, and to any email address-->
    <!--that matches to local domains.-->
  <!--</li>-->
  <!--<li>-->
    <!--<strong>Filedrop</strong> is used to send files back to you, without requiring pre-arranged authentication details-->
    <!--or setup. It can be used as an example to accept large print jobs if you're a printer, linking to the Filedrop page from your home page.-->
  <!--</li>-->
  <!--<li>-->
    <!--<strong>User Filedrop</strong> is your local users own Filedrop. They can send someone a link to it when requesting a file,-->
    <!--or add it to their email footer.-->
  <!--</li>-->
<!--</ul>-->

<h2 style="margin-top: 2em;">User Levels</h2>
<ul>
  <li><strong>Administrator:</strong> An administrator can change all configurations on the appliance,
    edit users, as well as modify the network configuration.</li>
  <li><strong>Technical: </strong> A Technical user is responsible for modify the network configuration.</li>
  <li><strong>Visitor: </strong> A Visitor user is typically a general user from your organisation. A Visitor user
    can see the information about network configuration, but cannot see other feature or perform any administrator, and technical functions.</li>

</ul>
