

<h2 style="margin-top: 2em;">User Levels</h2>
<ul>
  <li><strong>Administrator:</strong> An administrator can change all configurations on the appliance,
    edit users, as well as modify the network configuration.</li>
  <li><strong>Technical: </strong> A Technical user is responsible for modify the network configuration.</li>
  <li><strong>Visitor: </strong> A Visitor user is typically a general user from your organisation. A Visitor user
    can see the information about network configuration, but cannot see other feature or perform any administrator, and technical functions.</li>

</ul>
