<%# Copyright (c) 2010 Allard Consulting. All Rights Reserved. %>
<h2>Documentation</h2>
<p>Please look through the documentation as the first step when looking for something:</p>
<ul>
  <li>General documentation:
    <%= link_to("user manual", {:action => 'help'}) %>
  </li>
</ul>

