

<div class="row-fluid" style="margin-top: 20px;">
  <img border="0" src="/assets/szar-full.png" align="left" width="170" height="80" >
  <img border="0" src="/assets/Logo.JPG"  align="right" width="170" height="100" ></br></br></br></br></br>
  <div class="span6">
    <%= render :partial => 'support' %>
  </div>
  <div class="span6">
    <%= render :partial => 'legend' %>
  </div>
</div>

