<% @page_title = t(:new_subnet) %>

<div class="pageTitle">
  <div style="text-align: center"><font color="#191970"><%= "New Data Center" %></font></div>
</div>


  <%= form_for(:subnet, :url => {:action => 'create'}) do |f| %>
  <% if @subnet.errors.any? %>
  
  <div class="error">
    <ul>
      <% @subnet.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <% end %>


