<%# Copyright (c) 2010 Allard Consulting. All Rights Reserved. %>
<h2>Documentation</h2>
<p>Please look through the documentation as the first step when looking for something:</p>
<ul>
  <li>General documentation:
  <li><a href=https://bmt.szar.org/link/Uh43AuN9gNz6Cz9qBFVOiG>Manual User</a></li>
  </li>
</ul>

        <!--<p style="margin-top: 0.5em;">-->
          <!--The preference is to create an open support environment using public tickets so that it's easier for everyone to-->
          <!--see if there is a problem and potential solutions.-->
        <!--</p>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<strong>Forum: </strong> You can -->
        <!--<%= link_to "browse the forums", "http://support.emgraft.com", :target => "_blank" %>-->
        <!--to see any current issues.-->
      <!--</li>-->

      <!--<li><strong>Support email: </strong> If you prefer to email support. Please email -->
<!--<%= link_to "support@emgraft.com", "mailto:support@emgraft.com"%>. This is the same as creating a support ticket-->
        <!--using the ask support link above. Sending an email will <strong>not</strong> give you a faster response.-->
      <!--</li>-->
    <!--</ul>-->

<!--<h2 style="margin-top: 2em;">Updates &amp; Downloads</h2>-->
<!--<ul>-->

  <!--<li><strong>Detailed Release notes </strong> are available here: -->
    <!--<%= link_to "Release Notes", "http://support.emgraft.com", :target => "_blank" %>-->
  <!--</li>-->
  <!--<li><strong>Plugins:</strong> You can download the latest version of the Outlook plugin here:-->
    <!--<%= link_to "http://support.emgraft.com", "http://support.emgraft.com", :target => "_blank" %>-->
    <!---->
    <!--</li>-->
<!--</ul>-->

